In [2]:
import requests
import defs
import pandas as pd

In [7]:
instrument = 'EUR_USD'
count = 10
granularity = 'H1'

In [8]:
session = requests.Session()
url = f"{defs.OANDA_URL}/instruments/{instrument}/candles"

In [9]:
params = dict(
    count = count,
    granularity = granularity,
    price = 'MBA'
)

In [12]:
response = session.get(url, params=params, headers=defs.SECURE_HEADER)
data = response.json()

In [11]:
data.keys()

dict_keys(['instrument', 'granularity', 'candles'])

In [13]:
for candles in data['candles']:
    print(candles)

{'complete': True, 'volume': 3018, 'time': '2024-04-26T11:00:00.000000000Z', 'bid': {'o': '1.07271', 'h': '1.07339', 'l': '1.07143', 'c': '1.07153'}, 'mid': {'o': '1.07278', 'h': '1.07346', 'l': '1.07150', 'c': '1.07160'}, 'ask': {'o': '1.07286', 'h': '1.07353', 'l': '1.07158', 'c': '1.07167'}}
{'complete': True, 'volume': 8590, 'time': '2024-04-26T12:00:00.000000000Z', 'bid': {'o': '1.07152', 'h': '1.07408', 'l': '1.07095', 'c': '1.07157'}, 'mid': {'o': '1.07160', 'h': '1.07416', 'l': '1.07102', 'c': '1.07165'}, 'ask': {'o': '1.07167', 'h': '1.07426', 'l': '1.07110', 'c': '1.07173'}}
{'complete': True, 'volume': 6344, 'time': '2024-04-26T13:00:00.000000000Z', 'bid': {'o': '1.07159', 'h': '1.07231', 'l': '1.07055', 'c': '1.07065'}, 'mid': {'o': '1.07166', 'h': '1.07238', 'l': '1.07062', 'c': '1.07075'}, 'ask': {'o': '1.07174', 'h': '1.07245', 'l': '1.07069', 'c': '1.07085'}}
{'complete': True, 'volume': 6387, 'time': '2024-04-26T14:00:00.000000000Z', 'bid': {'o': '1.07069', 'h': '1.07112', 'l': '1.06755', 'c': '1.06793'}, 'mid': {'o': '1.07078', 'h': '1.07119', 'l': '1.06762', 'c': '1.06800'}, 'ask': {'o': '1.07087', 'h': '1.07126', 'l': '1.06770', 'c': '1.06807'}}
{'complete': True, 'volume': 4733, 'time': '2024-04-26T15:00:00.000000000Z', 'bid': {'o': '1.06792', 'h': '1.06898', 'l': '1.06733', 'c': '1.06848'}, 'mid': {'o': '1.06799', 'h': '1.06905', 'l': '1.06740', 'c': '1.06856'}, 'ask': {'o': '1.06806', 'h': '1.06912', 'l': '1.06747', 'c': '1.06863'}}
{'complete': True, 'volume': 2499, 'time': '2024-04-26T16:00:00.000000000Z', 'bid': {'o': '1.06850', 'h': '1.06958', 'l': '1.06831', 'c': '1.06939'}, 'mid': {'o': '1.06857', 'h': '1.06966', 'l': '1.06838', 'c': '1.06946'}, 'ask': {'o': '1.06864', 'h': '1.06973', 'l': '1.06846', 'c': '1.06953'}}
{'complete': True, 'volume': 1594, 'time': '2024-04-26T17:00:00.000000000Z', 'bid': {'o': '1.06941', 'h': '1.06974', 'l': '1.06924', 'c': '1.06935'}, 'mid': {'o': '1.06948', 'h': '1.06981', 'l': '1.06932', 'c': '1.06942'}, 'ask': {'o': '1.06956', 'h': '1.06989', 'l': '1.06939', 'c': '1.06950'}}
{'complete': True, 'volume': 1388, 'time': '2024-04-26T18:00:00.000000000Z', 'bid': {'o': '1.06936', 'h': '1.07051', 'l': '1.06930', 'c': '1.07050'}, 'mid': {'o': '1.06943', 'h': '1.07058', 'l': '1.06938', 'c': '1.07057'}, 'ask': {'o': '1.06950', 'h': '1.07066', 'l': '1.06945', 'c': '1.07064'}}
{'complete': True, 'volume': 1593, 'time': '2024-04-26T19:00:00.000000000Z', 'bid': {'o': '1.07047', 'h': '1.07065', 'l': '1.06960', 'c': '1.06990'}, 'mid': {'o': '1.07054', 'h': '1.07072', 'l': '1.06967', 'c': '1.06998'}, 'ask': {'o': '1.07061', 'h': '1.07079', 'l': '1.06974', 'c': '1.07006'}}
{'complete': True, 'volume': 1356, 'time': '2024-04-26T20:00:00.000000000Z', 'bid': {'o': '1.06989', 'h': '1.07010', 'l': '1.06903', 'c': '1.06922'}, 'mid': {'o': '1.06996', 'h': '1.07018', 'l': '1.06910', 'c': '1.06932'}, 'ask': {'o': '1.07004', 'h': '1.07027', 'l': '1.06918', 'c': '1.06941'}}

In [18]:
prices = ['bid','mid','ask']
ohlc = ['o','h','l','c']

In [21]:
our_data = []
for candles in data['candles']:
    if candles['complete'] == False:
        continue
    new_dict = {}
    new_dict['time'] = candles['time']
    new_dict['volume'] = candles['volume']
    
    for price in prices:
        for ohl in ohlc:
            new_dict[f'{price}_{ohl}'] = candles[price][ohl]
    our_data.append(new_dict)
print(our_data[0])

{'time': '2024-04-26T11:00:00.000000000Z', 'volume': 3018, 'bid_o': '1.07271', 'bid_h': '1.07339', 'bid_l': '1.07143', 'bid_c': '1.07153', 'mid_o': '1.07278', 'mid_h': '1.07346', 'mid_l': '1.07150', 'mid_c': '1.07160', 'ask_o': '1.07286', 'ask_h': '1.07353', 'ask_l': '1.07158', 'ask_c': '1.07167'}

In [22]:
candles_df = pd.DataFrame.from_dict(our_data)
candles_df

,time,volume,bid_o,bid_h,bid_l,bid_c,mid_o,mid_h,mid_l,mid_c,ask_o,ask_h,ask_l,ask_c
0,2024-04-26T11:00:00.000000000Z,3018,1.07271,1.07339,1.07143,1.07153,1.07278,1.07346,1.07150,1.07160,1.07286,1.07353,1.07158,1.07167
1,2024-04-26T12:00:00.000000000Z,8590,1.07152,1.07408,1.07095,1.07157,1.07160,1.07416,1.07102,1.07165,1.07167,1.07426,1.07110,1.07173
2,2024-04-26T13:00:00.000000000Z,6344,1.07159,1.07231,1.07055,1.07065,1.07166,1.07238,1.07062,1.07075,1.07174,1.07245,1.07069,1.07085
3,2024-04-26T14:00:00.000000000Z,6387,1.07069,1.07112,1.06755,1.06793,1.07078,1.07119,1.06762,1.06800,1.07087,1.07126,1.06770,1.06807
4,2024-04-26T15:00:00.000000000Z,4733,1.06792,1.06898,1.06733,1.06848,1.06799,1.06905,1.06740,1.06856,1.06806,1.06912,1.06747,1.06863
5,2024-04-26T16:00:00.000000000Z,2499,1.06850,1.06958,1.06831,1.06939,1.06857,1.06966,1.06838,1.06946,1.06864,1.06973,1.06846,1.06953
6,2024-04-26T17:00:00.000000000Z,1594,1.06941,1.06974,1.06924,1.06935,1.06948,1.06981,1.06932,1.06942,1.06956,1.06989,1.06939,1.06950
7,2024-04-26T18:00:00.000000000Z,1388,1.06936,1.07051,1.06930,1.07050,1.06943,1.07058,1.06938,1.07057,1.06950,1.07066,1.06945,1.07064
8,2024-04-26T19:00:00.000000000Z,1593,1.07047,1.07065,1.06960,1.06990,1.07054,1.07072,1.06967,1.06998,1.07061,1.07079,1.06974,1.07006
9,2024-04-26T20:00:00.000000000Z,1356,1.06989,1.07010,1.06903,1.06922,1.06996,1.07018,1.06910,1.06932,1.07004,1.07027,1.06918,1.06941

In [23]:
candles_df.to_pickle("EUR_USD_H1.pkl")

In [24]:
data = pd.read_pickle("EUR_USD_H1.pkl")
data

,time,volume,bid_o,bid_h,bid_l,bid_c,mid_o,mid_h,mid_l,mid_c,ask_o,ask_h,ask_l,ask_c
0,2024-04-26T11:00:00.000000000Z,3018,1.07271,1.07339,1.07143,1.07153,1.07278,1.07346,1.07150,1.07160,1.07286,1.07353,1.07158,1.07167
1,2024-04-26T12:00:00.000000000Z,8590,1.07152,1.07408,1.07095,1.07157,1.07160,1.07416,1.07102,1.07165,1.07167,1.07426,1.07110,1.07173
2,2024-04-26T13:00:00.000000000Z,6344,1.07159,1.07231,1.07055,1.07065,1.07166,1.07238,1.07062,1.07075,1.07174,1.07245,1.07069,1.07085
3,2024-04-26T14:00:00.000000000Z,6387,1.07069,1.07112,1.06755,1.06793,1.07078,1.07119,1.06762,1.06800,1.07087,1.07126,1.06770,1.06807
4,2024-04-26T15:00:00.000000000Z,4733,1.06792,1.06898,1.06733,1.06848,1.06799,1.06905,1.06740,1.06856,1.06806,1.06912,1.06747,1.06863
5,2024-04-26T16:00:00.000000000Z,2499,1.06850,1.06958,1.06831,1.06939,1.06857,1.06966,1.06838,1.06946,1.06864,1.06973,1.06846,1.06953
6,2024-04-26T17:00:00.000000000Z,1594,1.06941,1.06974,1.06924,1.06935,1.06948,1.06981,1.06932,1.06942,1.06956,1.06989,1.06939,1.06950
7,2024-04-26T18:00:00.000000000Z,1388,1.06936,1.07051,1.06930,1.07050,1.06943,1.07058,1.06938,1.07057,1.06950,1.07066,1.06945,1.07064
8,2024-04-26T19:00:00.000000000Z,1593,1.07047,1.07065,1.06960,1.06990,1.07054,1.07072,1.06967,1.06998,1.07061,1.07079,1.06974,1.07006
9,2024-04-26T20:00:00.000000000Z,1356,1.06989,1.07010,1.06903,1.06922,1.06996,1.07018,1.06910,1.06932,1.07004,1.07027,1.06918,1.06941